<% layout('layouts/boilerplate') %> 

    <div class="row card p-3 my-5 shadow-lg">
        <h1 class="text-center my-5">Edit Campground</h1>
        <div class="col-md-6 offset-md-3 p-0 mb-5">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="campground[title]" class="form-control" value="<%= campground.title %>"  required>
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">required!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="campground[location]" class="form-control" value="<%= campground.location %>"  required>
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">required!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="campground[description]" id="description"  class="form-control" required><%= campground.description %></textarea>
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">required!</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" id="price" name="campground[price]" class="form-control" placeholder="0.00"  aria-describedby="price-label" value="<%= campground.price %>" required>
                        <div class="valid-feedback">looks good!</div>
                        <div class="invalid-feedback">required!</div>
                    </div>
                </div>
                <div class="mb-3 input-group">
                    <input type="file" name="image" id="image" class="form-control" multiple>
                    <label for="image" class="input-group-text">Add more images</label>
                </div>
                <div class="mb-5 text-center d-flex flex-column align-items-center my-5 card p-3 border border-danger">
                    <label class="form-label mb-5">Do you want to delete some Images of the campground?</label>
                    <% campground.images.forEach(function(img,i) { %>
                    <div class="input-group mb-3 d-flex justify-content-center">
                        <div class="input-group-text">
                          <input class="form-check-input mt-0 me-2" type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                          <label for="image-<%= i %>">Delete</label>                        
                        </div>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    </div>
                    <%}) %> 
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-success">Update Campground</button>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-warning">Back to Campground</a>
                </div>
                
            </form>
        </div>
    </div>

    <!--
        <img src="<%= //img.url %>" class="img-thumbnail form-control" alt="">
        <img src="<%= //img.thumbnail %>" class="img-thumbnail" alt="">
    -->
