<% layout('layouts/boilerplate') %>  
<link rel="stylesheet" href="/css/stars.css" />



<div class="row my-5">
  <div class="col-lg-6"> 
    <div class="card p-2">
      <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% campground.images.forEach((image,i) => {%>
              <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                <img src="<%= image.adjustHeight %>" class="card-img-top d-block  fit h-600" alt="">
              </div>
          <%}) %> 
        </div>
        <% if (campground.images.length > 1) { %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %> 
      </div>
      <div class="card-body ">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush ">
        <li class="list-group-item bg-transparent"><%= campground.location %></li>
        <li class="list-group-item bg-transparent"><%= campground.price %>$/night</li>
      </ul>
      <% if (currentUser && currentUser._id.equals(campground.author._id)) { %> 
      <div class="card-body d-flex justify-content-between">
          <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-success">Edit</a>
          <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" >
              <button type="submit" class="btn btn-danger">DELETE</button>
          </form>
          <a href="/campgrounds" class="btn btn-primary" >All Campgrounds</a>
      </div>
      <% } %> 
      <div class="card-footer text-muted text-center">
        Submitted By : <%= campground.author.username %>
      </div>
    </div>
    <div class="p-2">
      <div id='map2' class="w-100 h-600"></div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="p-2">
      <div id='map' class="w-100 h-600"></div>
    </div>

    <% if (currentUser) { %>
    <h2>Leave a Review</h2>
    <form class="mb-3 validated-form" action="/campgrounds/<%= campground._id %>/reviews"  method="POST" novalidate>
      <div class="mb-3">

        <fieldset class="starability-slot">
          <legend>Rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>

        <div class="valid-feedback">thank you for rating.. </div>
        <div class="invalid-feedback">required!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="valid-feedback">thank you for review.. </div>
        <div class="invalid-feedback">required!</div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <% } %>
    <div class="reviews">
      <% for( let review of campground.reviews ) { %>
      <div class="card mb-3 rating-card">
        <div class="card-body">
          <h5 class="card-title mb-2"><%= review.author.username %></h5>
          <p class="starability-result" data-rating="<%= review.rating %>">Rating: <%= review.rating %> Stars</p>

          <p class="card-text">Review: <%= review.body %></p>
          <% if (currentUser && currentUser._id.equals(review.author._id)) { %> 
          <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
          <% } %> 
        </div>  
      </div>
      <% } %>
    </div>
  </div>
</div>
<script>
  const mapToken = '<%= process.env.MAPBOX_TOKEN %>' ;
  const coordinates = [<%=campground.geometry.coordinates%>] ;
  const campground = <%-JSON.stringify(campground)%>;
</script>
<script src="/js/showPageMap.js"></script>


      <!--
ObjectIDs are objects so if you just compare them with == you're comparing their references. If you want to compare their values you need to use the ObjectID.equals method:
Use .equals when comparing ObjectId on two mongoDocuments like this
results.userId.equals(AnotherMongoDocument._id)
Use .toString() when comparing a string representation of ObjectId to an ObjectId of a mongoDocument. like this
results.userId === AnotherMongoDocument._id.toString()

***********************************************************************************************************************************************************************

Colt mentioned that campground.author in the show.ejs file is an id, but actually, it isn't.

As it is populated before passing it to the template so it is an object

It is an ID only in the router.post('/',...... ie before populating

campground.author is an object and currentUser is an object, so, I think that it will be more accurate for this to be

campground.author.equals(currentUser)

Or

campground.author._id.equals(currentUser._id)


<script>
  console.log("Hellooooooooo in browser's console") // frontend code executed in browser's console
</script>
<%= //console.log("Hello in terminal") %>  // frontend code executed in server's terminal
      --> 
